<ul class="user_profile flex flex-col gap-8 py-8 w-[80%] mx-auto">
  
    <% @users.each do |user| %>
      <li class="profile-card flex flex-row gap-[30px] p-4">
        <a href="<%= user_posts_path(user) %>">
          <%= render partial: 'view_helpers/user_profile', locals: { user: user } %>
        </a>
      </li>
    <% end %>
  
</ul>
